
@font-face {
  font-family: 'pixeloid-sans';
  src: url('pixeloid/PixeloidSans.ttf') format('truetype');
}

@font-face {
  font-family: 'pixeloid-sans-bold';
  src: url('pixeloid/PixeloidSans-Bold.ttf') format('truetype');
}


body {
  margin: 0;
  font-family: 'pixeloid-sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

